.header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  position: relative;
}
.header h1 {
  text-transform: uppercase;
  font-size: 35px;
  margin-right: auto;
}  
.header img {
  height: 130px;
  margin-right: auto;
  margin-left: 70px;
}

.button {
 appearance: none;
 background-color: transparent;
 border: 0.125em solid red;
 border-radius: 0.9375em;
 box-sizing: border-box;
 color: red;
 cursor: pointer;
 display: inline-block;
 font-size: 16px;
 font-weight: 600;
 min-width: 0;
 padding: 0.7em 1.4em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 touch-action: manipulation;
 will-change: transform;
 margin-right: 70px;
}

.button:disabled {
 pointer-events: none;
}

.button:hover {
 color: #fff;
 background-color: red;
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

.button:active {
 box-shadow: none;
 transform: translateY(0);
}

@media (max-width: 768px) {
  .button{
    margin-right: 20px;
    padding: 0.3em 1.2em;
  }
  .header h1 {
    font-size: 22px;
    padding-right: 0;
    text-align: center;
  }
  .header img {
    margin-left: 25px;
    width: 100px;
    height: auto;
  }
  .header span{
    position: absolute;
    bottom: 10px;
    margin-left: 42%;
  }
}
