.header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  position: relative;
}
.header h1 {
  text-transform: uppercase;
  font-size: 35px;
  margin-right: auto;
}  
.header img {
  height: 130px;
  margin-right: auto;
  margin-left: 70px;
}

.header span{
  color: #a3a3a3;
  margin-right: 70px;
  font-size: 22px;
  font-weight: 800;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 22px;
    padding-right: 0;
    text-align: center;
  }
  .header img {
    margin-left: 25px;
  }
  .header span{
    position: absolute;
    bottom: 10px;
    margin-left: 42%;
  }
}
