dialog {
  border: 0;
  width: 500px;
  border-radius: 15px;
  box-shadow: 5px 10px 30px #000;
  font-size: 20px;
}
dialog > div {
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}
dialog svg {
  width: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.dialogEmri {
  font-size: 32px;
}
dialog ul {
  list-style-type: none;
  padding: 0;
}

dialog button{
    width: 130px;
    margin: 30px 10px;
    border: 0;
    border-radius: 15px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}